<section>
  <h2>Create your own room</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Enter a password</label>
    <input type="password" name="password" placeholder="Enter a password" id="room-pass" />
    <button>
      <img src="images/users1.svg" alt="Enter room" />
      Create room
    </button>
  </form>
</section>
