<section>
  <h2>Join as a participant</h2>
  <form action="/enterroom" method="POST">
    <label class="sr-only" for="room-id">Room Code</label>
    <input type="number" name="roomId" placeholder="Room Code" id="room-id" />
    <button>
      <img src="images/log-in.svg" alt="Enter room" />
      Join in a room
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>or</div>
  <div></div>
</div>

<section>
  <h2>Create your own room easily</h2>
  <a href="/create-pass" class="button outlined">
    <img src="images/users.svg" alt="Criar Sala" />Create room
  </a>
</section>
