<div class="noquestions">
  <img src="/images/noquestions.svg" alt="noquestions" />
  <p>No question here...</p>
  <p>Ask you first question and send the <br> code of this room for others!</p>
</div>
